---
---

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "{{ site.theme }}";

.post img {
    @apply block border-solid border-2 border-blue-900;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.post figcaption {
    @apply text-center text-sm italic text-gray-500;
}

.language-python {
    @apply border-l border-solid border-2 border-lightcoral;
}

.language-python + .language-plaintext {
    @apply border-l border-solid border-2 border-gray-500 ml-4;
}

.language-python + .language-plaintext code {
    @apply bg-white;
}

.language-python + .language-plaintext pre {
    @apply bg-white;
}

.input_area pre,
.input_area div,
.output_area pre,
.output_area div {
    @apply mb-1 mt-1 pb-0 pt-0;
}

.input_area pre {
    @apply border-l border-solid border-2 border-lightcoral;
}

.output_area pre {
    @apply border-l border-solid border-2 border-gray-500 ml-4;
}

.codecell {
  @apply border-r border-solid border-2 border-gray-300;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.codecell table {
  @apply w-auto;
}
